* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.title {
    width: 240px;
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}


.title img {
    width: 60px;
}

.title h3 {
    font-size: 35px;
    color: #ff00ff;
}

.level {
    height: 500px;
    width: 320px;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: white;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.level div{
    width: 100%;
    background-color: #49326B;
    padding: 45px 25px;
    cursor: pointer;
    border-radius: 2px;
}

button {
    margin-top: 20px;
    margin-left: 230px;
    background-color: #49326B;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
}

